* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
}

img {
    object-position: top 0px right 0px;
}

.top-menu {
    display: flex;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

button { 
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background-color: #FF7A00;
    align-items: center;
}

.board {
    display: flex;
}

.secao {
    width: 40%;
    height: 90vh;
    padding: 4px;
    position: relative;
    border-right: 1px solid #FF7A00;
}

#terceiro-quadrante {
    border-right: 0;
}

p {
    color: #FF7A00;
    font-size: 1rem;
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
}

.adicionar {
    border-radius: 50%;
    background-color: #FF7A00;
    color: #FFFFFF;
    font-size: 40px;
    border: 0px;
    text-align: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 0;
}

#fechar {
    right: 10px;
    top: 10px;
}

.arrow {
    border: #FF7A00;

    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    width: 50rem;
    height: 50rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.speech {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.texto-modal {
    color: #FF7A00;
    font-size: 3rem;
}

#texto {
    width: 70%;
    height: 50%;
    margin: 50px auto;
    padding: 1rem;
}

